.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: fit-content;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 18px;
  }
  
