.body-container {
    height: 100vh;
}

.main-container {
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
    background-size: cover;
}

.heading-container {
    padding: 30px;
}

.heading-container img{
    width: 300px;
    padding: 20px;
}

.heading-container .tag-line {
    color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.search-container {
    margin-bottom: 50px;
}

.search-bar {
    padding: 15px;
    font-size: 18px;
    width: 50%;
    border-radius: 25px;
    border: none;
}

